/**
 * Global properties
 */

html, body { width: 100%; height: 100%; }
body { font: 0.8125em Verdana, sans-serif; line-height: 1; background: #cae0e8 url(img/background.png) repeat-x; color: #333; overflow: hidden; }
a { color: #1a5374; text-decoration: none; font-weight: bold; }
h1, h2, h3 { font-weight: bold; }
h1 { font-size: 1.25em; color: #1a5374; }
p { line-height: 1.5em; }
input { width: 50%; border: 0; padding: 3px;}

/**
 * Application Frame
 */
 
#CloudLab { background: url(img/frame-l.png) repeat-y; }
#ApplicationFrame { background: url(img/frame-r.png) repeat-y right; }

#Header, #Header .tl, #Header .tr { top: 0; width: 100%; height: 250px; }
#Header { position: relative; background: url(img/frame-t.png) repeat-x; margin-bottom: -197px; }
#Header .tl { position: absolute; left: 0; background: url(img/frame-tl.png) no-repeat; }
#Header .tr { position: absolute; right: 0; background: url(img/frame-tr.png) no-repeat top right; }

#Footer, #Footer .bl, #Footer .br { position: absolute; bottom: 0; left: 0; width: 100%; height: 50px; }
#Footer { background: url(img/frame-b.png) repeat-x bottom; }
#Footer .bl { background: url(img/frame-bl.png) no-repeat bottom left; }
#Footer .br { background: url(img/frame-br.png) no-repeat bottom right; }

#Content { background: #d8e3e8 url(img/workspace-background.jpg) center no-repeat; position: relative; overflow: hidden; margin: 0 12px; z-index: 500; }
 
/**
 * User Bar
 */
 
#UserBar { display: none; position: absolute; top: 16px; right: 23px; font-size: 1.2em; color: #1a5374; font-weight: bold; z-index: 2001; }
#UserBar #ProjectTitle { text-align: center; line-height: 31px; vertical-align: middle; color: #1a5374; display: block; width: 342px; height: 31px; background: url(img/project-dropdown-bg.png); }

/**
 * HUD
 */

.hudContainer { position: absolute; background: #e6f0f4; overflow: hidden; z-index: 1000; }
.hudTitle { position: absolute; top: 0; left: 0; }
.hud { border: 2px solid #fff; font-size: 1em; display: none; }

#DataSourceSearch { background: #fff; padding: 5px; }
#DataSources select { width: 100%; background: #e6f0f4; border: 0; }

#Data td, #data th { padding: 3px; margin: 3px; }
#Data thead { background: #fff; }
#Data td.highlight { background: #235087; }

#Parameters label { margin-right: 15px; float: left; width: 50px; }

/**
 * Workspace
 */
 
#Workspace { margin-right: 250px; height: 100%; } 
#Workspace iframe { width: 100%; height: 100%; }

/**
 * Sidebar
 */
 
#Sidebar { width: 250px; height: 100%; float: right; overflow: hidden; background: #e6f0f4; padding-bottom: 9999px; }
#Sidebar .sectionTitle { padding: 6px 0 3px; margin-left: 11px; background: #e6f0f4; }
#Sidebar .handle { width: 11px; height: 100%; float: left; border-left: 1px solid #fff; background: #cbd9dd; cursor: w-resize; padding-bottom: 9999px; }
#Sidebar .templates { display: none; }
#Sidebar .content { margin-left: 12px; height: 100%; }
#Sidebar .sidebarElement, #SidebarContent li { background: #fff; margin-left: 3px; margin-top: 3px; padding: 3px; cursor: pointer; }
#Sidebar .content li:hover { background: #eee; }